Last login: Wed Jun  2 17:25:58 on ttys006
idawon@idawon-ui-MacBookAir spring-suco_talk % ls -al
total 32
drwxr-xr-x@  7 idawon  staff   224  6  2 18:37 .
drwxr-xr-x   4 idawon  staff   128  6  2 18:37 ..
-rw-r--r--@  1 idawon  staff  6148  5 22 13:08 .DS_Store
drwxr-xr-x  15 idawon  staff   480  6  2 18:37 .git
-rw-r--r--   1 idawon  staff   749  6  2 18:37 .gitignore
-rw-r--r--   1 idawon  staff    41  5 22 12:53 README.md
drwxr-xr-x  13 idawon  staff   416  6  2 16:53 sucotalk
idawon@idawon-ui-MacBookAir spring-suco_talk % cat .gitignore
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
/frontend/node_modules/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/%
~
~
-- INSERT --HELP.md
.gradle

build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
/frontend/node_modules/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/%
